<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/test.css" type="text/css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container1">
      <div class="sub_top">
        <div class="box" style="background: #e02f2f"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
      </div>
      <div class="sub_bottom">
        <div class="box"></div>
        <div class="box" style="background: #c18888"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
      </div>
    </div>

    <div class="container2">
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
    </div>

    <div class="container3">
      <div class="box" ></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
    </div>

    <div class="container4">

      <script language="javascript" type="text/javascript">
        for (i = 0; i < 45; i++){
          document.write(
            "<div class='box' id =" +i+ " style='background: #ffffff'></div>");
        }
        for (i=0;i<45;i++){
          const element = document.getElementById(i);
          var color = {{colors}}
          if (!color) {
            element.style.background="blue";
          }
        }
        
      </script>     
      {% comment %} <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div> {% endcomment %}
    </div>

    <div class="container5">
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
    </div>
  </body>
</html>
