.item>ul {
  /* border: 1px solid black; */
  display: none;
}

.item>ul>li {
  padding: 1%;
}

.item:hover>ul {
  display: block;
}

#item_4_a {
  text-decoration: underline 2px #e60000;
}

#item_4 {
  display: block;
}

.item {
  text-align: center;
  /* border: 1px solid black; */
  margin-bottom: 20px;
  margin-top: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.05em;
}

ul {
  padding: 10%;
  list-style: none;
  letter-spacing: 0.05em;
}

ul>li {
  text-align: center;
}

#background {
  background-size: cover;
  background-image: url(../images/area/Area_H.png);
  width: 100%;
  height: 100%;
}

.container1,
.container2,
.container3,
.container6 {
  display: flex;
  flex-direction: column;
}

.container4,
.container5 {
  display: flex;
  flex-direction: row;
}

.container1>.box,
.container2>.box,
.container3>.box,
.container6>.box {
  width: 60px;
  height: 48px;
}

.container4>.box,
.container5>.box {
  width: 48px;
  height: 60px;
}

.container1 {
  width: 60px;
  height: 256px;
  justify-content: space-between;
  position: absolute;
  top: 33%;
  left: 10%;
}

.container2 {
  width: 60px;
  height: 516px;
  justify-content: space-between;
  position: absolute;
  top: 21.3%;
  left: 23.7%;
}

.container3 {
  width: 60px;
  height: 568px;
  justify-content: space-between;
  position: absolute;
  top: 18.5%;
  left: 40.5%;
}

.container4 {
  width: 204px;
  height: 60px;
  justify-content: space-between;
  position: absolute;
  top: 19.5%;
  left: 48.4%;
}

.container5 {
  width: 204px;
  height: 60px;
  justify-content: space-between;
  position: absolute;
  top: 86.6%;
  left: 48.4%;
}

.container6 {
  width: 60px;
  height: 672px;
  justify-content: space-between;
  position: absolute;
  top: 2.6%;
  left: 67.2%;
}


.box {
  border: pink 1px solid;
}