.item > ul {
  /* border: 1px solid black; */
  display: none;
}

.item:hover > ul {
  display: block;
  animation-duration: 5ms;
}

.item {
  text-align: center;
  /* border: 1px solid black; */
  margin-bottom: 20px;
  margin-top: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.05em;
}
ul {
  padding: 10%;
  list-style: none;
  letter-spacing: 0.05em;
}
ul > li {
  text-align: center;
}

#background {
  background-size: cover;
  background-image: url(../images/bg_section4.png);

  /* width: 100%;
      height: 100%; */
}
