.item > ul {
  /* border: 1px solid black; */
  display: none;
}

.item:hover > ul {
  display: block;
  animation-duration: 5ms;
}

.item {
  text-align: center;
  /* border: 1px solid black; */
  margin-bottom: 20px;
  margin-top: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.05em;
}
ul {
  padding: 10%;
  list-style: none;
  letter-spacing: 0.05em;
}
ul > li {
  text-align: center;
}
<<<<<<< HEAD
=======

#background {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(../images/background.png);

  /* width: 100%;
  height: 100%; */
}

#section_1, #section_2, #section_3, #section_4, #section_5{
    position: relative;
}

#section_1 {
    top: 1%;
    left: 44.5%;
}

#section_2 {
    top: 28%;
    left: -13.5%;
}
#section_3 {
    top: 27%;
    left: -8%;
}
#section_4 {
    top: 1%;
    left: 35%;
}
#section_5 {
    top: 9.5%;
    left: 3%;
}
>>>>>>> 8d1c37e0e234750cdeb8af045f1430b37025a250
