{% extends 'base.html' %}
{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/detail4_F.css' %}" type="text/css">
{% endblock %}

{% block nav %}
  <ul>
    <li class="item">
      <a href="{% url 'temp' 1 %}">📍 1 구역 ></a>
      <ul>
        <li>A 구역</li>
        <li>B 구역</li>
        <li>C 구역</li>
        <li>D 구역</li>
      </ul>
    </li>
    <li class="item">
      <a href="{% url 'temp' 2 %}">📍 2 구역 ></a>
      <ul>
        <li>A 구역</li>
        <li>B 구역</li>
        <li>C 구역</li>
        <li>D 구역</li>
      </ul>
    </li>
    <li class="item">
      <a href="{% url 'temp' 3 %}">📍 3 구역 ></a>
      <ul>
        <li>A 구역</li>
        <li>B 구역</li>
        <li>C 구역</li>
        <li>D 구역</li>
      </ul>
    </li>
    <li class="item">
      <a id="item_4_a" href="{% url 'section_4' %}">📍 4 구역 ></a>
      <ul id="item_4">
        <li>A 구역</li>
        <li>B 구역</li>
        <li>C 구역</li>
        <li>D 구역</li>
        <li>E 구역</li>
        <li>F 구역</li>
        <li>G 구역</li>
      </ul>
    </li>
    <li class="item">

      <a href="{% url 'temp' 5  %}">📍 5 구역 ></a>
      <ul>
        <li>A 구역</li>
        <li>B 구역</li>
        <li>C 구역</li>
        <li>D 구역</li>
      </ul>
    </li>
  </ul>

{% endblock %}

{% block content %}
  <div id="background">
    <h3>여기는 4_F 구역입니다.</h3>
  </div>

{% endblock %}
