{% extends 'base.html' %} {% load static %} {% block style %}
<link
  rel="stylesheet"
  href="{% static 'css/detail4_H.css' %}"
  type="text/css"
/>
{% endblock %}



{% block updatetime %}최근 업데이트 시간 :{{current_time}} {% endblock %}

{% block nav %}
<ul>
  <li class="item">
    <a href="{% url 'temp' 1 %}">📍 1 구역 ></a>
    <ul>
      <li>A 구역</li>
      <li>B 구역</li>
      <li>C 구역</li>
      <li>D 구역</li>
    </ul>
  </li>
  <li class="item">
    <a href="{% url 'temp' 2 %}">📍 2 구역 ></a>
    <ul>
      <li>A 구역</li>
      <li>B 구역</li>
      <li>C 구역</li>
      <li>D 구역</li>
    </ul>
  </li>
  <li class="item">
    <a href="{% url 'temp' 3 %}">📍 3 구역 ></a>
    <ul>
      <li>A 구역</li>
      <li>B 구역</li>
      <li>C 구역</li>
      <li>D 구역</li>
    </ul>
  </li>
  <li class="item">
    <a id="item_4_a" href="{% url 'section_4' %}">📍 4 구역 ></a>
    <ul id="item_4">
      <li>A 구역</li>
      <li>B 구역</li>
      <li>C 구역</li>
      <li>D 구역</li>
      <li>E 구역</li>
      <li>F 구역</li>
      <li>G 구역</li>
    </ul>
  </li>
  <li class="item">
    <a href="{% url 'temp' 5  %}">📍 5 구역 ></a>
    <ul>
      <li>A 구역</li>
      <li>B 구역</li>
      <li>C 구역</li>
      <li>D 구역</li>
    </ul>
  </li>
</ul>

{% endblock %} {% block content %}

<div id="background">
  {% comment %} 수의과대학 : 420 {% endcomment %}
  <div class='container1'>
    <div class="box" id="1" style="background: {{location_info_420.1.1}}"></div>
    <div class="box" id="2" style="background: {{location_info_420.2.1}}"></div>
    <div class="box" id="3" style="background: {{location_info_420.3.1}}"></div>
    <div class="box" id="4" style="background: {{location_info_420.4.1}}"></div>
    <div class="box" id="5" style="background: {{location_info_420.5.1}}"></div>
  </div>

  <div class='container2'>
    <div class="box" id="6" style="background: {{location_info_420.6.1}}"></div>
    <div class="box" id="7" style="background: {{location_info_420.7.1}}"></div>
    <div class="box" id="8" style="background: {{location_info_420.8.1}}"></div>
    <div class="box" id="9" style="background: {{location_info_420.9.1}}"></div>
    <div class="box" id="10" style="background: {{location_info_420.10.1}}"></div>
    <div class="box" id="11" style="background: {{location_info_420.11.1}}"></div>
    <div class="box" id="12" style="background: {{location_info_420.12.1}}"></div>
    <div class="box" id="13" style="background: {{location_info_420.13.1}}"></div>
    <div class="box" id="14" style="background: {{location_info_420.14.1}}"></div>
    <div class="box" id="15" style="background: {{location_info_420.15.1}}"></div>
  </div>

  <div class='container3'>
    <div class="box" id="16" style="background: {{location_info_420.16.1}}"></div>
    <div class="box" id="17" style="background: {{location_info_420.17.1}}"></div>
    <div class="box" id="18" style="background: {{location_info_420.18.1}}"></div>
    <div class="box" id="19" style="background: {{location_info_420.19.1}}"></div>
    <div class="box" id="20" style="background: {{location_info_420.20.1}}"></div>
    <div class="box" id="21" style="background: {{location_info_420.21.1}}"></div>
    <div class="box" id="22" style="background: {{location_info_420.22.1}}"></div>
    <div class="box" id="23" style="background: {{location_info_420.23.1}}"></div>
    <div class="box" id="24" style="background: {{location_info_420.24.1}}"></div>
    <div class="box" id="25" style="background: {{location_info_420.25.1}}"></div>
    <div class="box" id="26" style="background: {{location_info_420.26.1}}"></div>
  </div>
  
  <div class='container4'>
    <div class="box" id="27" style="background: {{location_info_420.27.1}}"></div>
    <div class="box" id="28" style="background: {{location_info_420.28.1}}"></div>
    <div class="box" id="29" style="background: {{location_info_420.29.1}}"></div>
    <div class="box" id="30" style="background: {{location_info_420.30.1}}"></div>
    <div class="box" id="31" style="background: {{location_info_420.31.1}}"></div>
    <div class="box" id="32" style="background: {{location_info_420.32.1}}"></div>
  </div>

  <div class='container5'>
    <div class="box" id="33" style="background: {{location_info_420.33.1}}"></div>
    <div class="box" id="34" style="background: {{location_info_420.34.1}}"></div>
    <div class="box" id="35" style="background: {{location_info_420.35.1}}"></div>
    <div class="box" id="36" style="background: {{location_info_420.36.1}}"></div>
  </div>

  <div class='container6'>
    <div class="box" id="37" style="background: {{location_info_420.37.1}}"></div>
    <div class="box" id="38" style="background: {{location_info_420.38.1}}"></div>
    <div class="box" id="39" style="background: {{location_info_420.39.1}}"></div>
    <div class="box" id="40" style="background: {{location_info_420.40.1}}"></div>
    <div class="box" id="41" style="background: {{location_info_420.41.1}}"></div>
    <div class="box" id="42" style="background: {{location_info_420.42.1}}"></div>
    <div class="box" id="43" style="background: {{location_info_420.43.1}}"></div>
    <div class="box" id="44" style="background: {{location_info_420.44.1}}"></div>
    <div class="box" id="45" style="background: {{location_info_420.45.1}}"></div>
    <div class="box" id="46" style="background: {{location_info_420.46.1}}"></div>
    <div class="box" id="47" style="background: {{location_info_420.47.1}}"></div>
    <div class="box" id="48" style="background: {{location_info_420.48.1}}"></div>
    <div class="box" id="49" style="background: {{location_info_420.49.1}}"></div>
  </div>

</div>

{% endblock %}
