{% extends 'base.html' %}
{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/detail4_D.css' %}" type="text/css">
{% endblock %}

{% block nav %}
  <ul>
    <li class="item">
      <a href="{% url 'temp' 1 %}">📍 1 구역 ></a>
      <ul>
        <li>A 구역</li>
        <li>B 구역</li>
        <li>C 구역</li>
        <li>D 구역</li>
      </ul>
    </li>
    <li class="item">
      <a href="{% url 'temp' 2 %}">📍 2 구역 ></a>
      <ul>
        <li>A 구역</li>
        <li>B 구역</li>
        <li>C 구역</li>
        <li>D 구역</li>
      </ul>
    </li>
    <li class="item">
      <a href="{% url 'temp' 3 %}">📍 3 구역 ></a>
      <ul>
        <li>A 구역</li>
        <li>B 구역</li>
        <li>C 구역</li>
        <li>D 구역</li>
      </ul>
    </li>
    <li class="item">
      <a id="item_4_a" href="{% url 'section_4' %}">📍 4 구역 ></a>
      <ul id="item_4">
        <li>A 구역</li>
        <li>B 구역</li>
        <li>C 구역</li>
        <li>D 구역</li>
        <li>E 구역</li>
        <li>F 구역</li>
        <li>G 구역</li>
      </ul>
    </li>
    <li class="item">

      <a href="{% url 'temp' 5  %}">📍 5 구역 ></a>
      <ul>
        <li>A 구역</li>
        <li>B 구역</li>
        <li>C 구역</li>
        <li>D 구역</li>
      </ul>
    </li>
  </ul>

{% endblock %}

{% block content %}
  <div id="background">

    <!DOCTYPE html>
    <html lang="en">

      <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="../static/css/test.css" type="text/css"/>
        <title>Document</title>
      </head>

      <body>

        <h3>{{location_info.0.1}}</h3>

        <div class="container0">

          <script language="javascript" type="text/javascript">
            for (i = 1; i <= {{location_info | length}}; i++) {
                    var col = {{location_info.0}}
                    console.log(col)
                    document.write("<div class='box' id =" + i + " style='background:" + col +"'"+ "></div>");
                    }
            </script>

        </div>


        <script language="javascript" type="text/javascript">
            {
                % comment %
            }
            const element; {
                % endcomment %
            } {
                %
                for location in location_info %
            } {
                % comment %
            }
            element = document.getElementById({
                {
                    location .0
                }
            }) {
                % endcomment %
            }
            document.getElementById({
                {
                    location .0
                }
            }).style.background = "blue" {
                % endfor %
            }
        </script>





        <div class="container1">
            <script language="javascript" type="text/javascript">
                for (i = 1; i <= 5; i++) {
                    document.write("<div class='box' id =" + i + " style='background: #ffffff'></div>");
                }
            </script>

        </div>


        <div class="container2">
            <script language="javascript" type="text/javascript">
                for (i = 1; i <= 6; i++) {
                    document.write("<div class='box' id =" + i + " style='background: #ffffff'></div>");
                }
            </script>
            {% comment %} <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div> {% endcomment %}
        </div>

        <div class="container3">
            <script language="javascript" type="text/javascript">
                for (i = 1; i <= 6; i++) {
                    document.write("<div class='box' id =" + i + " style='background: #ffffff'></div>");
                }
            </script>
        </div>

        <div class="container4">
            <script language="javascript" type="text/javascript">
                for (i = 1; i <= 4; i++) {
                    document.write("<div class='box' id =" + i + " style='background: #ffffff'></div>");
                }
            </script>

        </div>

        <div class="container5">
            <script language="javascript" type="text/javascript">
                for (i = 1; i <= 9; i++) {
                    document.write("<div class='box' id =" + i + " style='background: #ffffff'></div>");
                }
            </script>

            {% comment %} <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div> {% endcomment %}
        </div>
    </body>

    </html>

</div>

{% endblock %}
