{% extends 'base.html' %}
{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/detail4_G.css' %}"
  type="text/css"
{% endblock %} 
{% block nav %}
  <ul>
    <li class="item">
      <a href="{% url 'temp' 1 %}">📍 1 구역 ></a>
      <ul>
        <li>A 구역</li>
        <li>B 구역</li>
        <li>C 구역</li>
        <li>D 구역</li>
      </ul>
    </li>
    <li class="item">
      <a href="{% url 'temp' 2 %}">📍 2 구역 ></a>
      <ul>
        <li>A 구역</li>
        <li>B 구역</li>
        <li>C 구역</li>
        <li>D 구역</li>
      </ul>
    </li>
    <li class="item">
      <a href="{% url 'temp' 3 %}">📍 3 구역 ></a>
      <ul>
        <li>A 구역</li>
        <li>B 구역</li>
        <li>C 구역</li>
        <li>D 구역</li>
      </ul>
    </li>
    <li class="item">
      <a id="item_4_a" href="{% url 'section_4' %}">📍 4 구역 ></a>
      <ul id="item_4">
        <li>A 구역</li>
        <li>B 구역</li>
        <li>C 구역</li>
        <li>D 구역</li>
        <li>E 구역</li>
        <li>F 구역</li>
        <li>G 구역</li>
      </ul>
    </li>
    <li class="item">

<a href="{% url 'temp' 5  %}">📍 5 구역 ></a>
<ul>
  <li>A 구역</li>
  <li>B 구역</li>
  <li>C 구역</li>
  <li>D 구역</li>
</ul>
</li>
</ul>

{% endblock %}

{% block content %}

<div id="background">
<script language="javascript" type="text/javascript">
document.write("<div class='container1'>")
for (i = 1; i < 6; i++) {
  document.write(" <div class='box' id =" + i + " >container1</div>");
}
document.write("</div>")
document.write("<div class='container2'>")
for (i = 6; i < 16; i++) {
  document.write(" <div class='box' id =" + i + " >container2</div>");
}
document.write("</div>")
document.write("<div class='container3'>")
for (i = 16; i < 19; i++) {
  document.write(" <div class='box' id =" + i + " >container3</div>");
}
document.write("</div>")
document.write("<div class='container4'>")
for (i = 19; i < 25; i++) {
  document.write(" <div class='box' id =" + i + " >container4</div>");
}
document.write("</div>")
document.write("<div class='container5'>")
for (i = 25; i < 36; i++) {
  document.write(" <div class='box' id =" + i + " >container5</div>");
}
document.write("</div>")
document.write("<div class='container6'>")
for (i = 36; i < 45; i++) {
  document.write(" <div class='box' id =" + i + " >container6</div>");
}
document.write("</div>")
document.write("<div class='container7'>")
for (i = 45; i < 51; i++) {
  document.write(" <div class='box' id =" + i + " >container6</div>");
}
document.write("</div>")
document.write("<div class='container8'>")
for (i = 51; i < 60; i++) {
  document.write(" <div class='box' id =" + i + " >container6</div>");
}
document.write("</div>")
</script>
</div>

{% endblock %}