{% extends 'base.html' %}

{% block nav %}
  <ul>
    <li class="item">
      <a href="{% url 'temp' 1 %}">📍 1 구역 ></a>
      <ul>
        <li>A 구역</li>
        <li>B 구역</li>
        <li>C 구역</li>
        <li>D 구역</li>
      </ul>
    </li>
    <li class="item">
      <a href="{% url 'temp' 2 %}">📍 2 구역 ></a>
      <ul>
        <li>A 구역</li>
        <li>B 구역</li>
        <li>C 구역</li>
        <li>D 구역</li>
      </ul>
    </li>
    <li class="item">
      <a href="{% url 'temp' 3 %}">📍 3 구역 ></a>
      <ul>
        <li>A 구역</li>
        <li>B 구역</li>
        <li>C 구역</li>
        <li>D 구역</li>
      </ul>
    </li>
    <li class="item">
      <a href="{% url 'section_4' %}">📍 4 구역 ></a>
      <ul>
        <li>A 구역</li>
        <li>B 구역</li>
        <li>C 구역</li>
        <li>D 구역</li>
        <li>E 구역</li>
        <li>F 구역</li>
        <li>G 구역</li>
      </ul>
    </li>
    <li class="item">

      <a href="{% url 'temp' 5  %}">📍 5 구역 ></a>
      <ul>
        <li>A 구역</li>
        <li>B 구역</li>
        <li>C 구역</li>
        <li>D 구역</li>
      </ul>
    </li>
  </ul>

{% endblock %}

{% block content %}

  <h1>여기는 제 4구역입니다.
  </h1>

  {{image}}

{% endblock %}
