@font-face {
  font-family: "NanumSquareNeo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
a {
  text-decoration: none;
  color:black;
}

*{
  font-family: 'NanumSquareNeo';
  color: #58595B;
}

.header {
  /* background-color: aqua; */
  height: 10vh;
  border-bottom: 3px solid #9f9b9b;
}
.body {
  /* background-color: beige; */
  height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.nav {
  /* background-color: aquamarine; */
  /* flex-basis: 2; */
  width: 20%;
  /* border: 1px solid aquamarine; */

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  /* 아이템 어떻게 정렬 시킬 것인가 */
}

.center {
  /* background-color: pink; */
  /* flex-basis: 8; */
  width: 80%;
  /*border: 0.5px solid pink;*/
}

h1 {
  font-style: normal;
  font-weight: 400;
  line-height: 10vh;
  text-align: center;
  color: #58595b;
}

em {
  font-style: normal;
}
#univ{
  color:#E60000;
}
#map{
  color: #3dcf92;
  size: 50px 50px;
  background-image: url(../static/map_bg.png);
}

.searchform {
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-bar {
  width: 16vw;
  height: 6.5vh;
  /* width: 300px;
      height: 66px; */
}

.form-control {
  background: #d9d9d9;
  border-radius: 10px;
  margin-left: 3%;
}
.category {
  height: 85%;
  /* border: 2px solid black; */
}
#static_background {
  position: relative;
  width: 1150px;
  height: 700px;
  left: 3%;
  top: 8%;
}
